<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

    <%= form_for(:session, url: sessions_path) do |f| %>
  <fieldset>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
     <p> <%= f.submit "Sign in" %> </p>
  </fieldset>
    <% end %>

    <p>New user? <%= link_to "Sign up", signup_path %></p>
