<% provide(:title, "Sign in") %>
<div class="page-header"> 
  <h1>Sign in</h1>
</div>

<div class="row">
  <div class="span4">
    <%= simple_form_for(:session, url: sessions_path, html: { class: "well" }) do |f| %>
    <fieldset>
      <legend>Sign In</legend>
      <%= f.input :email %>
      <%= f.input :password %>
       <div> <%= f.button :submit, "Sign in" %></div>
    </fieldset>

    <% end %>
    <p>New user? <%= link_to "Sign up", signup_path %></p>
  </div>
  <div class="span8">
    <h2>Sign in is easy and secure </h2> 
  </div>
</div>


