:business_name
:email_address
:first_name
:last_name
:address_1
:address_2
:city_id
:state
:zip
:country
:phone
:website
:pick_a_category
:where_do_you_want_your_helpon_to_run
:review_links
:tell_us_a_little_bit_about_your_business

rails generate controller Charities  --no-test-framework
rails generate controller Locations index new edit show  --no-test-framework
rails generate model Charity description:string deal_id:integer
rails generate model Charity description:string deal_id:integer
rails generate integration_test company_pages
rails generate integration_test location_pages


Take a look in this code <td><%= company.city.business_name %></td>
write a test to cauch the to an prepared e-mail.
I don't think the city_id is good in charities form.
rails g migration AddMoreFieldsToMovies cast:string director:string duration:string image_file_name:string

rails g migration AddCityIdToStates city_id:integer
  def self.up
    add_column :charities, :city_id, :integer
  end

#########################
Charity name attributes
##########################

charity_name:string registered_charity_number:string first_name:string 
last_name:string job_title:string email_address:string telephone_number:integer 
i_agree_to_the:boolean description:text charity_photo_file_name:string 
address_1:string address_2:string city_id:integer state:string 
zip:integer country:string website:string pick_a_category:string

test Titles
test charity models


Take a look an address from the company Model
Take a look from the city index

rails generate migration AddUserRefToProducts user:references



<article>
  <header>
    <h1><%= @deal.name %></h1>
  </header>
  <p>
      <%= truncate(@deal.blurb, length: 40, separator: '') %>
  </p>
  <h3>Regular Price</h3>
  <p>
    <%= number_to_currency(@deal.regular_price, :precision => 2) %>
  </p>
  <h3>Maximum Discount</h3>
  <p>
    <%= number_to_currency(@deal.max_discount, :precision => 2) %>
  </p>
  <h3>Maximum Threshold</h3>
  <p>
    <%= number_to_currency(@deal.max_threshold, :precision => 2) %>
  </p>
  <h3>Intial Discount</h3>
  <p>
    <%= number_to_currency(@deal.initial_discount, :precision => 2) %>
  </p>
  <h3>Approved</h3>
  <p>
    <%= @deal.approved %>
  </p>
  <h3>Deal Date</h3>
  <p>
    <%= @deal.deal_date %>
  </p>
  <h3>Deal Blurb</h3>
  <p>
    <%= @deal.blurb %>
  </p>
  <h3>Deal Blurb Title</h3>
  <p>
    <%= @deal.blurb_title %>
  </p>
  <h3>Deal Type</h3>
  <p>
    <%= @deal.deal_type %>
  </p>
  <h3>Tipping Point</h3>
  <p>
    <%= @deal.tipping_point %>
  </p>
  <h3>End Date</h3>
  <p>
    <%= @deal.end_date %>
  </p>
  <h3>Photo File Name</h3>
  <p>
  <%= image_tag @deal.photo.url %>
  </p>
</article>


<table class="deal_details_table">
    <th>Value</th><th>Discount</th><th>Helpon</th>
    <tr>
      <td><%= number_to_currency(@deal.regular_price, :precision => 2) %></td>
      <td><%= number_to_percentage(@deal.initial_discount, :precision => 2) %></td>
      <td><%= number_to_currency(@deal.flat_savings, :precision => 2) %></td>
    </tr>
</table>
<br />
<p><b><%= @deal.order_count %> purchased</b></p>
<br />
<div id="ordered_percent"><%= @deal.ordered_percent %></div>
<div id="progressbar"></div>
<p><%= @deal.orders_to_go %> more to go...</p>
<br />


<table class="deal_details_table">
    <th>Value</th><th>Price</th><th>Discount</th><th>Savings</th>
    <tr>
      <td><%= number_to_currency(@deal.regular_price, :precision => 2) %></td>
      <td><%= number_to_currency(@deal.current_price, :precision => 2) %></td>
      <td><%= number_to_percentage(@deal.discount_percent, :precision => 2) %></td>
      <td><%= number_to_currency(@deal.savings, :precision => 2) %></td>
    </tr>
</table>





<%= link_to "List All Deals", deals_path %> |

<%= link_to "Edit", edit_deal_path(@deal) %> |

<%= link_to "Delete", deal_path(@deal), method: :delete, 
        data: { confirm: 'Are you sure?'} %> 

<p>


</p>


Deal.create!([
  {
    name:"Hotel & Flight",
    regular_price:145.00, 
    initial_discount:50 ,
    max_discount:25 ,
    max_threshold:30 ,
    approved: true,
    deal_date:25.days.from_now,
    photo_file_name:"rails.png",
    blurb_title:"Come and Enjoy",
    blurb:"Come And Enjoy the beutiful whether of Portland.",
    deal_type:"Hotel",
    tipping_point:200,
    end_date:45.days.from_now
  },
  {
    name:"Snack Bar",
    regular_price:20.00, 
    initial_discount:10 ,
    max_discount:25 ,
    max_threshold:30 ,
    approved: true,
    deal_date:25.days.from_now,
    photo_file_name:"rails.png",
    blurb_title:"Come and Enjoy",
    blurb:"Come And Enjoy the beutiful whether of Portland.",
    deal_type:"Hotel",
    tipping_point:200,
    end_date:45.days.from_now
  },
  {
    name:"Restourant",
    regular_price:20.00, 
    initial_discount:10 ,
    max_discount:25 ,
    max_threshold:30 ,
    approved: true,
    deal_date:25.days.from_now,
    photo_file_name:"rails.png",
    blurb_title:"Come and Enjoy",
    blurb:"Come And Enjoy the beutiful whether of Portland.",
    deal_type:"Hotel",
    tipping_point:200,
    end_date:45.days.from_now
  },
  {
    name:"Wine Test",
    regular_price:20.00, 
    initial_discount:10 ,
    max_discount:25 ,
    max_threshold:30 ,
    approved: true,
    deal_date:25.days.from_now,
    photo_file_name:"rails.png",
    blurb_title:"Come and Enjoy",
    blurb:"Come And Enjoy the beutiful whether of Portland.",
    deal_type:"Hotel",
    tipping_point:200,
    end_date:45.days.from_now
  }
])


Take a look on city edit page.


<table cellspacing="0" cellpadding="0">
 <thead>
 <tr>
    <th scope="col">Value</th>
    <th scope="col">Discount</th>
    <th scope="col">Save</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>$100.00</td>
    <td>$10.00</td>
    <td>40%</td>
  </tr>
</tbody>
</table>

pagination 10:31
add default value for a boolean false.

validates_format_of :username, :with => /^[-\w\._@]+$/i, :allow_blank => true, :message => "should only contain letters, numbers, or .-_@"



