
<%= simple_form_for(@status, html: {class: "form-horizontal" }) do |f| %>

  <%= render "shared/error_messages", object: @status  %>
  
  <%= f.input :user_id, collection: User.all, label_method: :full_name %>
  <%= f.input :content %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

