<% provide(:title, "Edit user") %>
<div class="page-header"> 
<h1>Update your profile</h1>
</div>

    <%= form_for(@user) do |f| %>
  <fieldset>
      <%= render "shared/error_messages", object: @user %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>    
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
    </p>
    <p><%= f.submit "Save changes"%></p>
  </fieldset>
    <% end %>


