<% provide(:title, "Edit user") %>
<div class="page-header"> 
<h1>Update your profile</h1>
</div>
<%= simple_form_for( @user, :html => { :multipart => true, :class => "normal_form"} ) do |f| %>
    <%= form_for(@user) do |f| %>
      <%= render "shared/error_messages", object: @user %>

      <%= f.label :name %>
      <%= f.text_field :name %>

    </p>    
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </p>
    <p>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

     <%= f.label :avatar, 'Upload Profile Picture' %>
     <%= f.file_field :avatar %><br>
     <p>
       
     </p>


    <%= f.submit "Save changes"%>

    <% end %>




