<% provide(:title, "Edit user") %>
<div class="page-header"> 
<h1>Update your profile</h1>
</div>

<%= simple_form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: @user %>
  <fieldset>
    <legend>About Me</legend>
    <%= f.input :name %>    
    <%= f.input :last_name, label: 'Last Name' %>
    <%= f.input :email %>
  </fieldset>

  <fieldset>
    <legend>Profile Picture</legend>
    <%= f.input :avatar, as: :file %>  
    <%= bootstrap_paperclip_picture f, :avatar %>
  </fieldset>

  <fieldset>
    <legend>Update Password</legend>
    <%= f.input :password, hint: "Leave blank if you don't want to change it",
    input_html: { class: 'input-xxlarge', autocomplete: 'off'} %>
    <%= f.input :password_confirmation, label: 'Confirm Password', input_html: { class: 'input-xxlarge', autocomplete: 'off' } %>
  </fieldset>

  <div class="form-actions">
    <%= f.submit "Save changes", class: 'btn btn-primary' %>
    <%= link_to "Back", root_path, class: 'btn' %>
  </div>
<% end %>



