<% provide(:title, 'Sign up') %>
<div class="page-header"> 
  <h1>Sign up</h1>
</div>

<%= form_for(@user) do |f| %>
<fieldset>
 <%= render "shared/error_messages", object: @user %>

    <%= f.label :name %><br />
    <%=  f.text_field :name %> <br/>

    <%= f.label :last_name, 'Last Name' %>
    <%= f.text_field :last_name %>
 
    <%= f.label :email %><br />
    <%= f.text_field :email %>

    <%= f.label :password %><br />
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
    <%= f.submit "Create my account" %> 
</fieldset>
<% end %>