<% provide(:title, @user.full_name) %>
<div class="auter_cover_picture">
<div class="cover_picture">
	<%= image_tag @user.cover_picture, class: '' %>
</div>
  <div class="avatar">
	<%= avatar_profile_link @user, {}, class: '' %><%= @user.full_name %>
	</div>
</div>

<%= render_breadcrumbs  %>
<div class="row">
	<asside class="span3">
		<section>
			<h4>
				<% if @user.charities.any? %>
				<div>Charities (<%= @user.charities.count %>)</div>			

				<% end %>

				<%= will_paginate @charities %>
			</h4>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
    </asside>


	<%= link_to "Pictures", user_pictures_path(current_user), class: 'btn' %> </br>


	<div class="span4">
				<ol class="charities">
					<%= render @charities %>
				</ol>
	</div>	

	<div class="span4">
		<%= render 'join_form' if signed_in? %>
		<% if @user.microposts.any? %>
			<h3>Microposts (<%= @user.microposts.count %>)</h3>
		<ol class="microposts">
			<%= render @microposts %>
		</ol>
		<% end %>

		<%= will_paginate @microposts %>
	</div>
</div>
