<% provide(:title, @user.name) %>
<div class="page-header"> 
<h2>Profile</h2>
</div>
<div class="row">
  <div class="span4">
  <h3>
    <%= gravatar_for @user %>
    <%= @user.full_name %>
  </h3>

  <div id="friend-status">
    <% if current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) %>
      <%= link_to "Edit Friendship", edit_friendship_path(friend_id: @user), class: 'btn' %>
    <% else %>
      <%= link_to "Add Friend", new_friendship_path(friend_id: @user), class: 'btn', id: 'add-friendship', data: { friend_id: @user.to_param } %>
    <% end %>
  </div>

		<%= image_tag @user.avatar.url(:medium) %>
	</div>
  <div class="span8">
    <% if @user.statuses.any? %>
      <h3>Statuses (<%= @user.statuses.count %>)</h3>
      <ol class="statuses">
        <%= render @user.statuses %>
      </ol>
      <%= will_paginate @statuses %>
    <% end %>
  </div>
</div>