<% provide(:title, @user.full_name) %>
<div class="auter_cover_picture">
	   <div class="avatar">
	<span> <%= avatar_profile_link @user, {}, class: '' %></span>
	 <%= @user.full_name %>
	</div>

	<div class="cover_picture">
		
		<%= image_tag @user.cover_picture, class: '' %>
	</div>

</div>

<%= render_breadcrumbs  %>
<div class="row">
	<asside class="span3">
		<section>
			<h2>user show left side</h2>
			<%= link_to "Back to home", root_path %>
			<div class="shared">
				<%= render 'shared/stats' %>
			</div>
		</section>
    </asside>


	<%= link_to "Pictures", user_pictures_path(current_user), class: 'btn' %> </br>


	<div class="span4">
		this is user show center
			<h4>
				here is user show charity left side
				<% if @user.charities.any? %>
				<h3>Charities (<%= @user.charities.count %>)</h3>
                <%= render @charities %>

				<% end %>
				
				<%= will_paginate @charities %>
			</h4>
	</div>	

	<div class="span4">
		this is user show rigth
		<%= render 'join_form' if signed_in? %>
		<% if @user.microposts.any? %>
			<h3>Microposts (<%= @user.microposts.count %>)</h3>
		<ol class="microposts">
			<%= render @microposts %>
		</ol>
		<% end %>

		<%= will_paginate @microposts %>
	</div>
</div>
