<%= simple_form_for(@charity) do |f| %>
    <%= render 'shared/error_messages', object: @charity %>
    <%= f.input :charity_name%>
    <%= f.input :registered_charity_number%> 
    <%= f.input :address_1 %> 
    <%= f.input :address_2 %> 
    <%= f.input :state %> 
    <%= f.input :zip %> 

    <%= f.input :country %> 

    <%= f.input :website %> 
    <%= f.input :city %> 
    <p> <%= f.select :pick_a_category, Charity::PICK_A_CATEGORY_OPTIONS, prompt: "Pick one" %></p>
    <p> <%= f.input :description, as: :text, label: 'Description', 
    placeholder: 'Discribe your goal Why you are doing this' %> 
    <%= f.input :i_agree_to_the, label: 'Yes, I agree' %>
   <div class="form-actions">
     <%= f.submit "Create Charity", class: 'btn btn-primary' %><br />      
   </div>
<% end %>