<%= link_to avatar_profile_link(current_user), current_user %>
this is user info
<h1>
  <%= current_user.full_name %>
</h1>
<p>
  <%= link_to "Set Fundraising Page", new_charity_path %>	
</p>
<p>
  <%= link_to "view my profile", current_user %>
</p>
<p>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</p>