<%= form_for(@fine_print) do |f| %>

<%= render "shared/errors_fine" %>
  <p>
    <%= f.label :description %><br />
    <%=  f.text_area :description, cols:60, row: 10 %> <br/>
  </p>
  <p><%= f.submit %> | <%=  link_to "Cancel", fine_prints_path %> </p>
<% end %>
