<div class="page-header"> 
  <h2>The Fine Print</h2>
</div>

<%= link_to 'Add New Fine Print', new_fine_print_path %>

<table>
  <tr>
    <th>Description</th>
    <th>Deal</th>
  </tr>
  <% @fine_prints.each do |fine_print| %>
    <tr>
      <td><%= truncate(fine_print.description, length: 60, separator: ' ') %></td>
      <td><%= fine_print.deal %></td>
      <td><%= link_to "Show", fine_print %></td>
      <td><%= link_to "Edit", edit_fine_print_path(fine_print) %></td>
    </tr>
  <% end %>
</table>

