<div class="row">
	<div class="span6">
       <%= render 'shared/order_list' %>
		<%= simple_form_for @order do |f| %>

		  <%= render 'shared/error_messages', object: @order %>

			<fieldset>
				<legend>Account Information</legend>
				<%= f.input :cardholder_name %>
				<%= f.input :card_number %>
				<%= f.label :pay_type %><br>
                <%= f.select :pay_type, Order::PAYMENT_TYPES,
                          prompt: 'Select a payment method' %>
				<%= f.input :billing_address %>
				<%= f.input :city %>
				<%= f.input :state %>
				<%= f.input :security_code %>
				<%= f.input :postal_code %>
				<%= f.input :expiration_date %>
			</fieldset>

			<div class="form-actions">
		      <%= f.submit "COMPLATE ORDER", class: 'btn btn-primary' %>
		    </div>
		<% end %>
    </div>
    <div class="span6">
    	<div class="page-header">
    		<h2>Raise Details</h2>
    	</div>
    	<%= render 'shared/charity_get' %> 
    	choose charity form goes here.
    </div>
</div>
