
<span class="charityName">
  <h2><%= charity.charity_name %></h2>

<span class="description">
 <p> <%=raw charity.description %></p>
 <p><strong>Goal Amount:</strong><%=raw charity.goal_amount %></p>
 <p><strong>Raising Ends On:</strong><%=raw charity.raising_ends_on %></p>
 <p><strong>Amount Raised: This should be impliment next time</strong></p>


   <% if current_user?(charity.user) %>
    <%= link_to "delete", charity, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: charity.charity_name %>
    <%= link_to "Edit a page", edit_charity_path %>
  <% end %>