<h1>Charity</h1>

<div id="boxed">
  <div id="show_charity">
    <h1><%= @charity.charity_name %></h1>
    <br />
    <div class="float_left"></div>
    <br />
    <p><%=raw @charity.description %></p>
    <br />
      <p>
      <%= link_to "Edit", edit_charity_path(@charity) %> |
      <%= link_to "Remove", @charity, :confirm => 'Are you sure?', :method => :delete %> |
      <%= link_to "View All", charities_path %>
      </p>
  </div>
  
  <div id="side_bar">
    <div id="tweets">

    </div>
    <br />
    <div id="fb_like">

    </div>
  </div>
</div>