<h1>Listing albums</h1>



  <ul class="thumbnails">
    <% @albums.each do |album| %>
    <li class="span3"> 
    	<div class="thumbnail">
      <%= link_to album_thumbnail(album), user_album_pictures_path(current_user, album) %><br />
      <%= link_to "View Album", user_album_pictures_path(current_user, album) %>
            <% if can_edit_album?(album) %>
        | <%= link_to "Edit", edit_user_album_path(current_user, album) %>
        | <%= link_to "Delete", user_album_path(current_user, album), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    <% end %>
    </div>
    </li>
  </ul>

<%= link_to 'New Album', new_user_album_path %>
