<% provide(:title, 'List Companies') %>

<% if current_user.admin? %>
     <h1>List Companies</h1>

        <tr>

         <th>Company</th>
          <th>City</th>
          <th>State</th>
        </tr>
        <% @companies.each do |company| %>
          <tr>
            <td><%= company.business_name %></td>
            <td><%= company.city %></td>
            <td><%= company.state %></td>
            <td><%= link_to "Delete", company, method: :delete, 
              data: { confirm: 'Are you sure?'} %></td>
            <td><%= link_to "Show", company %></td>
          </tr>
      </table>
    </article>
  </li>
      <% end %>
</ul>

<% end %>

