<% provide(:title, 'List Companies') %>


     <h1>List Companies</h1>

        <tr>
        <% admins_only do %>

         <th>Company</th>
          <th>City</th>
          <th>State</th>
        </tr>
        <% @companies.each do |company| %>
          <tr>
            <td><%= company.business_name %></td>
            <td><%= company.city %></td>
            <td><%= company.state %></td>
            <td><%= link_to "Delete", company, method: :delete, 
              data: { confirm: 'Are you sure?'} %></td>
            <td><%= link_to "Show", company %></td>
          </tr>
      </table>
    </article>
  </li>
      <% end %>
      <% end %>
</ul>
<p class="links"><%= link_to "New Company", new_company_path %></p>

