<% provide(:title, 'Deal show') %>
<div class="page-header"> 
 <h1>Deal show</h1>
</div>
<div class="page-header"> 
 <h1><%= @deal.name %></h1>
</div>
<div class="row">
  <div class="span6">
   <h3><%= @deal.blurb_title %></h3>
   <%=truncate(@deal.blurb, length: 65, separator: ' ') %>
  

   <p><%= link_to "Edit", edit_deal_path(@deal) %></p>
   <h4>Price now :
    <%= number_to_currency(@deal.current_price, :precision => 2) %></h4>
    <%= link_to "Buy", '#', class: 'btn' %>
  </div>
  <div class="span6">
       <%= image_tag @deal.photo.url %>
  </div>
</div>
<div class="row">
  <div class="span6">
      <table class="table table-bordered">
        <th>Value</th>
        <th>Discount</th>
        <th>Savings</th>
        <tr>
          <td><%= number_to_currency(@deal.regular_price, :precision => 2) %></td>          
          <td><%= number_to_percentage(@deal.discount_percent, :precision => 2) %></td>
          <td><%= number_to_currency(@deal.savings, :precision => 2) %></td>
        </tr>
      </table>
      <p>Your choise of Charity will get 10%</p> 
        
    <table class="table table-bordered">
          <th>Charity Get</th>
          <th>Charity Get</th>
        <tr>
          <td>10%<%= number_to_currency(@deal.current_price, :precision => 2) %></dt>
          <td><%= number_to_currency(@deal.charity_get, :precision => 2) %></td>
        </tr>
    </table>
  </div>
</div>


   



    

    



  