    <% if signed_in? %>
    <%= link_to 'Add Picture', new_user_picture_path(current_user, @picture), class: 'btn pull-right' %>
  <% end %>
  


<ul class="thumbnails">
<% @pictures.each do |picture| %>
  <li>
    <div class="thumbnail">
    <%= link_to image_tag(picture.asset.url(:small)), user_picture_path(@user,  picture) %><br />
      <div class="caption">
        <% if picture.caption? %><%= picture.caption %><br /><% end %>
        
        <%= link_to 'View full size', user_picture_path(@user, picture) %>
        <% if can_edit_picture?(picture) %>
          | <%= link_to "Edit", edit_user_picture_path(@user, picture) %>
          | <%#= link_to "Delete", user_picture_path(picture), 
                                   method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>

      </div>
    </div>
  </li> 
<% end %> 
</ul>