<h1>Viewing Picture</h1>


<%= image_tag(@picture.asset.url(:large), alt: @picture.caption, class: 'img-polaroid') %>

<br />

<h3><%= @picture.caption %></h3>

<p><%= @picture.description %></p>


<%= link_to 'Edit', edit_user_picture_path(current_user, @picture) %> |
<%= link_to 'Album', user_pictures_path(@picture) %>
