<%= form_for @city do |f| %>
  <%= render "shared/errors_city" %>

<fieldset>
  <p>
    <%= f.label :state %> 
    <%= f.text_field :state %> 
  </p>
  <p>
    <%= f.label :name %> 
    <%= f.text_field :name %> 
  </p>
    <%= f.submit %>
</fieldset>
<% end %>

