<%= form_for(@highlight) do |f| %>

  <%= render "shared/errors_highlight" %>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p><%= f.submit %></p>
<% end %>

