<h1 id="logo"><%= link_to 'Helpon', root_path %></h1>
<div id="mainMenu">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "All Deals", deals_path %></li>
    <li><%= link_to "Today's Deal", '#' %></li>
    <li><%= link_to "Get Featured", new_company_path %></li>
    <li><%= link_to "Register Chatity", new_charity_path %></li>
    <li><%= link_to "How It Work's", how_it_works_path %></li>
    <li><%= link_to "About Us", about_path %></li>
  </ul>
</div> <!-- mainMenu -->