<h1 id="logo"><%= link_to 'Helpon', '#' %></h1>
<div id="mainMenu">
  <ul>
    <li><%= link_to "Home", '#' %></li>
    <li><%= link_to "All Deals", '#' %></li>
    <li><%= link_to "Today's Deal", '#' %></li>
    <li><%= link_to "Featured Deals",    '#' %></li>
    <li><%= link_to "How It Work's", '#' %></li>
    <li><%= link_to "About Us", '#' %></li>
  </ul>
</div> <!-- mainMenu -->