<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>  
    <%= stylesheet_link_tag "application", media: "all", 
                                             "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application","data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
        <div id="header">
        <%= render 'layouts/header' %>
      </div> <!-- header--> 
  <body> 
    <div id="wrapper">

      <div id="sideBar">          
        <%= render 'layouts/sidebar' %> 
      </div><!-- sideBar-->        
      <div id="mainContent">
          <%= yield %>
      </div><!-- mainContent -->

    </div> <!-- wrapper --> 
          <div id="footer">
        <%= render 'layouts/footer' %> 
      </div> <!-- footer --> 
  </body>
</html>